<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            default base
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <ul>
            <li><a href="{% url 'prodact' %}">prodact</a></li>
            <li><a href="{% url 'create_prodact' %}">create_prodact</a></li>
        </ul>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>

